.experience {
    position: relative;
    // .experience__wrapper

    &__wrapper {
        @include ui-padding(top, 11);
        @include ui-padding(bottom, 15);
        display: flex;
    }

    // .experience__director

    &__director {
        position: relative;
        z-index: $ui-index-1;
        text-align: center;
        @include ui-margin(right, 12);
        .button {
            width: 380px;
            @include ui-margin(top, 12);
        }
        img {
            width: 436px;
            height: 618px;
            @include ui-margin(top, 42);
        }
    }

    // .experience__subinfo

    &__name {
        display: inline-block;
        @include ui-margin(top, 4);
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
    }

    &__subinfo {
        display: inline-block;
        font-style: italic;
        font-size: 18px;
        @include ui-margin(top, 1);
    }

    // .experience__info

    &__info {
        position: relative;
        z-index: $ui-index-1;
    }
    p {
        display: inline-block;
        @include ui-margin(top, 8);
    }
    &__info-subtitle {
        display: inline-block;
        @include ui-margin(top, 2);
    }
}
.experience::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0px;
    width: 47%;
    height: 100%;
    background: url(./../image/home/experience/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
@media (max-width: 1080px) {
    .experience__wrapper {
        flex-direction: column;
    }
    .experience__director {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            margin: 0;
        }
        .button {
            @include ui-margin(top, 7);
        }
    }
    .experience__info {
        @include ui-margin(top, 7);
    }
}
@media (max-width: 768px) {
    .experience {
        &__wrapper {
            margin: 0;
            @include mobile-padding(top, 7);
            @include mobile-padding(bottom, 8);
        }

        // .experience__director

        &__director {
            margin: 0;
            .button {
                width: 100%;
                font-size: 3.5vw;
                @include mobile-margin(top, 7);
            }
            img {
                width: 100%;
                height: 134vw;
                object-fit: cover;
                object-position: 0 0;
                @include mobile-margin(top, 0);
            }
        }

        // .experience__subinfo

        &__name {
            @include mobile-margin(top, 4);
            font-size: 5vw;
        }
        &__info {
            @include mobile-margin(top, 7);
        }
        &__subinfo {
            font-size: 5vw;
            @include mobile-margin(top, 1);
        }

        p {
            @include mobile-margin(top, 8);
        }
        &__info-subtitle {
            @include mobile-margin(top, 2);
        }
    }
}
