.letter {
    position: relative;
    @include ui-padding(y, 15);
    background-color: #f3f3f3;
    .title__wrapper {
        text-align: start;
        width: 600px;
        p {
            width: 100%;
            margin: 0;
        }
    }
    .letter__image {
        @include ui-margin(top, 10);
    }
    .decor-item {
        top: -150px;
        right: 0px;
        width: 335px;
        height: 296px;
    }
}
@media (max-width: 1200px) {
    .letter::before {
        display: none;
    }
}
@media (max-width: 768px) {
    .letter {
        @include mobile-padding(y, 7);
        .title__wrapper {
            width: 100%;
            p {
                @include mobile-margin(top, 4);
            }
        }
        .letter__image {
            @include ui-margin(top, 4);
        }
        .decor-item {
            display: none;
        }
    }
    .letter__image {
        @include mobile-margin(top, 4);
    }
}
