.service {
    position: relative;
    @include ui-padding(y, 15);
    background-color: #f3f3f3;
    // .service__wrapper

    &__wrapper {
    }

    // .service__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        @include ui-margin(all, -3);
        @include ui-margin(top, 5);
    }

    // .service__item

    &__item {
        background-color: white;
        width: calc(50% - 24px);
        height: 362px;
        border-radius: 6px;
        display: flex;
        @include ui-margin(all, 3);
        @include ui-padding(x, 7);
        @include ui-padding(top, 10);
        @include ui-padding(bottom, 8);
        z-index: $ui-index-1;
    }
    &__image {
        display: flex;
        align-items: flex-end;
        .button {
            display: none;
        }
    }
    // .service__left

    &__left {
        display: flex;
        flex-direction: column;
        h3 {
            flex: 0 0 auto;
        }
        a {
            flex: 1 1 auto;
            @include ui-margin(top, 3);
        }
        button {
            flex: 0 0 auto;
        }
    }
}
.service::before {
    content: "";
    position: absolute;
    display: block;
    right: 5px;
    bottom: 0px;
    width: 155px;
    height: 160px;
    background: url(./../image/home/service/decor.png);
    background-repeat: no-repeat;
    background-size: contain;
}
@media (max-width: 1200px) {
    .service {
        &__item {
            display: flex;
            flex-direction: column;
            height: auto;
            .button {
                display: none;
            }
        }
        &__left {
            height: 100%;
        }
        &__image {
            display: flex;
            flex-direction: column;
            .button {
                display: block;
                @include ui-margin(top, 3);
            }
        }
    }
}
@media (max-width: 768px) {
    .service {
        @include mobile-padding(y, 7);
        // .service__list

        &__list {
            @include mobile-margin(all, 0);
            @include mobile-margin(y, -3);
            @include mobile-margin(top, 5);
        }

        // .service__item

        &__item {
            width: 100%;
            height: auto;
            border-radius: 1.667vw;
            @include mobile-margin(all, 0);
            @include mobile-margin(y, 3);
            @include mobile-padding(x, 7);
            @include mobile-padding(top, 7);
            @include mobile-padding(bottom, 7);
        }
        &__image {
            img{
                @include mobile-margin(top, 3);
                width: 100%;
                height: auto;
            }
            .button {
                @include mobile-margin(top, 3);
            }
        }
        &__left {
            h3{
                font-size: 4.4vw;
            }
            a {
                @include mobile-margin(top, 3);
            }
        }
    }
    .service::before {
        content: "";
        right: 1.389vw;
        bottom: 0vw;
        width: 43.056vw;
        height: 44.444vw;
    }
}