.trust {
    @include ui-padding(y, 6);
    
    &__slider {
        @include ui-margin(top, 6);
        position: relative;
    }
    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
}