@import "./../global/_fonts.scss";
@import "./../global/_global.scss";
@import "./../global/_header.scss";
@import "./../global/_feedback.scss";
@import "./../global/_map.scss";
@import "./../global/_footer.scss";

.ntd {
    @include ui-padding(bottom, 15);
    .title__wrapper {
        @include ui-margin(top, 2);
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;
        @include page-frame();
        h2 {
            display: inline-block;
            font-family: "Montserrat";
            font-weight: 600;
            @include page-frame-text();
            @include ui-margin(bottom, 1);
        }
        p {
            display: inline-block;
            @include page-frame-item();
        }
    }
    &__info::before {
        content: "";
        position: absolute;
        display: block;
        left: 304px;
        bottom: -77px;
        width: 155px;
        height: 160px;
        background: url(./../image/ntd/image.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__wrap {
        width: 47%;
    }
    &__wrap:nth-child(2) {
        width: 50%;
    }
    &__item {
        width: 100%;
        @include ui-margin(bottom, 4);
        z-index: $ui-index-1;
    }
    &__item:nth-child(3),
    &__item:nth-child(4) {
        @include ui-margin(left, 8);
    }
    &__item:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .ntd {
        @include mobile-padding(bottom, 7);
        .title__wrapper {
            @include mobile-margin(top, 2);
        }
        &__info {
            @include page-mobile-frame();
            h2 {
                @include page-mobile-frame-text();
                @include mobile-margin(bottom, 1);
            }
            p {
                display: inline-block;
                @include page-mobile-frame-item();
            }
        }
        &__info::before {
            content: "";
            left: auto;
            right: 0;
            bottom: 0;
            width: 45vw;
            height: 20vw;
        }
        &__wrap {
            width: 100%;
        }
        &__wrap:nth-child(2) {
            width: 100%;
        }
        &__item {
            position: relative;
            width: 100%;
            @include mobile-margin(bottom, 4);
            z-index: $ui-index-1;
        }
        &__item:nth-child(3),
        &__item:nth-child(4) {
            @include mobile-margin(left, 8);
        }
    }
}
