.standard {
    overflow-x: hidden;
    @include ui-margin(bottom, 15);
    .title__wrapper {
        @include ui-margin(top, 2);
    }
    // .standard__info

    &__info {
        @include page-frame();
        @include page-frame-text();
    }
    &__info::before {
        content: "";
        @include clothespin-left;
        top: auto;
        transform: translateX(-93%);
        bottom: 20px;
        left: -5px;
    }
    &__info::after {
        content: "";
        @include clothespin-right;
        right: 10px;
    }
    // .standard__top

    &__top {
        @include page-frame-item();
        p:first-child {
            @include page-frame-text();
            margin: 0;
        }
        p,
        ul {
            @include ui-margin(top, 4);
        }
        span,
        strong {
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            @include ui-margin(bottom, 1);
        }
        p {
            display: flex;
            flex-direction: column;
        }
    }
    &__top-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p,
        ul {
            width: 500px;
        }
    }
    // .standard__bottom

    &__bottom {
        @include ui-margin(top, 4);
        p {
            @include page-frame-item();
            @include ui-margin(top, 1);
        }
    }
}
@media (max-width: 1080px) {
    .standard {
        &__top-wrap {
            height: auto;
        }
        &__top-wrap p,
        &__top-wrap ul {
            max-width: 80%;
        }
        &__info::before {
            content: "";
            @include clothespin-mobile-left;
            top: 370px;
            left: -5px;
        }
        &__info::after {
            content: "";
            @include clothespin-mobile-right;
            right: 40px;
        }
    }
}
@media (max-width: 768px) {
    .standard {
        @include mobile-margin(bottom, 7);
        .title__wrapper {
            @include mobile-margin(top, 2);
        }
        // .standard__info

        &__info {
            @include page-mobile-frame();
            @include page-mobile-frame-text();
        }
        &__info::before {
            content: "";
            top: 102.778vw;
            left: -1.389vw;
        }
        &__info::after {
            content: "";
            right: 11.111vw;
        }
        // .standard__top

        &__top {
            @include page-mobile-frame-item();
            p:first-child {
                @include page-mobile-frame-text();
                margin: 0;
            }
            p,
            ul {
                @include mobile-margin(top, 4);
            }
            span,
            strong {
                font-size: 5vw;
                @include mobile-margin(bottom, 1);
            }
        }
        &__top-wrap {
            height: auto;
            p,
            ul {
                max-width: 100%;
            }
            p:last-child {
                width: 100%;
            }
        }
        // .standard__bottom

        &__bottom {
            @include mobile-margin(top, 4);
            p {
                @include page-mobile-frame-item();
                @include mobile-margin(top, 1);
            }
        }
    }
}
